.playlist {
  margin-left: 310px;
  width: 590px;
  min-width: 100%;
  //   background-color: red;
  .top {
    background: linear-gradient(180deg, #3333a3 3.13%, #121212);
    // min-height: 400px;
    padding: 20px 40px;
    .arrows {
      display: flex;
      align-content: inherit;
      gap: 12px;
      .IoIosArrowBack,
      .IoIosArrowForward {
        width: 18px;
        height: 20px;
        color: #fff;
        cursor: pointer;
        padding: 4px;
        background-color: #121212;
        border-radius: 50%;
        opacity: 0.7;
      }
    }
    h2 {
      color: #fff;
    }
    .top-playlists {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 12px;
      .top_playlist-card {
        display: flex;
        align-items: center;
        max-width: 380px;
        width: 100%;
        border-radius: 6px;
        background-color: #3e3e83;
        gap: 21px;
        overflow: hidden;
        cursor: pointer;
        img {
          max-width: 82px;
          max-height: 60px;
        }
        h3 {
          color: #ffffff;
          letter-spacing: 0.01em;
        }
      }
    }
  }
  .padding {
    padding: 20px 40px;
    .playlists-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: #fff;
        font-size: 2rem;
      }
      p {
        color: #adadad;
        cursor: pointer;
      }
    }
    .playlist-container {
      display: flex;
      // align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      cursor: pointer;
      .playlist-card {
        background-color: #1b1b1b;
        max-width: 180px;
        // max-height: 324px;
        // height: 100%;
        border-radius: 8px;
        .card-content {
          padding: 21px;
          img {
            max-width: 100%;
          }
          h4 {
            color: #fff;
            line-height: 20px;
          }
          h5 {
            color: #b3b3b3;
          }
        }
      }
    }
  }
}
